name: CI - MLflow Training & Artifact Upload

on:
  push:
    branches: [main]           # otomatis jalan saat push ke main
  workflow_dispatch:           # bisa dijalankan manual

jobs:
  train-and-upload:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Python
      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3️⃣ Install dependencies
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy matplotlib mlflow
          pip install "scikit-learn>=1.2.2"

      # 4️⃣ Run Modelling.py langsung
      - name: Run Modelling.py
        working-directory: MLProject
        run: python Modelling.py

      # 5️⃣ Upload MLflow artifacts
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns
