name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas matplotlib

    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    - name: Save MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Build Docker Image (MLflow)
      run: |
        mlflow models build-docker \
          -m "runs:/$(ls mlruns/*/* | head -n 1)" \
          -n ${{ secrets.DOCKER_USERNAME }}/traffic-volume-ml

    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/traffic-volume-ml
