name: CI - MLflow Training

on:
  push:
    branches: [main]
    paths:
      - "MLProject/**"
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies (langsung, no requirements)
        run: |
          pip install --upgrade pip
          pip install pandas numpy scikit-learn mlflow matplotlib

      - name: Run MLflow Project (NO CONDA)
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns
