name: CI - MLflow Training & Docker

on:
  push:
    branches: [main]
    paths:
      - "MLProject/**"
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pandas numpy scikit-learn mlflow matplotlib

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image from MLflow project
        run: |
          cd MLProject
          mlflow build-docker . -t traffic-volume:latest

      - name: Push Docker image
        run: |
          docker tag traffic-volume:latest ${{ secrets.DOCKER_USERNAME }}/traffic-volume:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/traffic-volume:latest
